<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500258807593-1bpue2a7s89pocg7jr9ipcq6fp6k2k22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500258807593-1bpue2a7s89pocg7jr9ipcq6fp6k2k22</string>
	<key>API_KEY</key>
	<string>AIzaSyCiid7B3cuqSKvTpERAhH-F6YsRS8gmLyA</string>
	<key>GCM_SENDER_ID</key>
	<string>500258807593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mudit.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-code</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-code.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500258807593:ios:03df8063b3bb87a4e8e138</string>
</dict>
</plist>